/* Element Styles */
/* h1, h2, h3, h4, h5, h6 {

}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
} */

a {
    transition: 0.2s all ease;
    border-color: transparent;
}

#content a:hover, #content a:focus {
    color: #7eccc5;
    border-bottom: 1px solid #7eccc5;
    text-decoration: none;
}

p {
    color: #292c36;
    font-size: 18px;
    margin-bottom: 1em;
}

/* Navbar Styles */

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #7eccc5;
}

/* Content Styles */
#header {
    color: #fff;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__title {
    padding-top: 30px;
    padding-bottom: 30px;
}
.container.row {
    padding-left: 0;
    padding-right: 0;
    width: auto;
}
.page-title {
    margin-bottom: 0.5em;
}

.entry-content {
    margin-top: 6rem;
}

@media only screen and (max-width: 767px){
    #content .row {
        margin-bottom: 2em;
    }
    #content [class^="col"] {
        margin-bottom: 1em;
    }
}

/* Footer Styles */

#footer {
    margin-top: 6rem;
    padding-bottom: 19px;
}